.BookFooter {
    border-radius: 12px;
    background: white;
    padding: 15px 100px;
}

.BookFooter.ant-col:first-child,
.BookFooter .ant-col:last-child {
    flex: 0 0 100%;
    max-width: 100%;
}

.BookFooter .ant-col:nth-child(2) {
    flex: 0 0 100%;
    max-width: 100%;
}

.pageNumberHanlder {
    display: flex;
    align-items: center;
}

.vertical1Divider {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border-left: 1px solid #c5c5c5;
    padding: 0 10px;
    cursor: pointer;
}

.vertical2Divider {
    display: flex;
    align-items: center;
    gap: 5px;
    border-left: 1px solid #c5c5c5;
    justify-content: center;
    border-right: 1px solid #c5c5c5;
    padding: 0 10px;
}


.pageNumbers {
    background: #e3f0f5;
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 8px;
    border-radius: 4px;
}

.currentPageNumber {
    width: 100%;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
}

.currentPageNumber::-webkit-inner-spin-button,
.currentPageNumber::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.zoomButtons {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.booksFooterContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.yourProgressHeading {
    font-family: "Inter", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    color: #6A707C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageNumberHandler {
    display: flex;
    align-items: center;
}

.bookProgress .ant-progress-outer .ant-progress-inner {
    border: 1px solid #99b82d;
}

.bookProgress .ant-progress-outer {
    width: 108% !important;
}

.value {
    color: #99b82d;
}

.nextSec,
.prevSec {
    height: 45px;
}